
<nav class = "navbar">
<ul class = "nav-list">
    <li><%= link_to 'Back to my Recipes', recipes_path %></li>
    <li><%= link_to 'Add Recipe', new_recipe_path %></li>
    <%# <li><%= link_to 'Log Out', logout_path %>
</ul>
</nav>
