.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f2f2f2;
  margin: 0;
}

.content-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

.recipe-item {
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  text-align: left;
}

.recipe-name {
  font-weight: bold;
}

/* Style for the Delete button */
.delete-button {
  display: inline-block;
  padding: 5px 10px;
  background-color: #ff5733;
  text-align: center;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}

.delete-button:hover {
  background-color: #f00;
}
