<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'navbar' %>
  <!-- Your head content -->
  <div class="navbar">
    <%= render 'shared/navbar' %>
  </div>
</head>
<body>
  <div class="content">
    <%= yield %>
  </div>
</body>
</html>
